body{
	max-width: 500px;
	margin: 10px auto;
    background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTcgis4j83sq9Iwpm0azMAJZEv7m8cZtBJrd8ujKIYLn_GaSvfJiQ);      
    background-size: 100%;
    font-family: 'Rye', cursive;
    font-size: 20px

}

#output{
    background: #84a5ed;
    padding: 10px 20px;
    border-radius: 8px;

}

.form-style-5{
    max-width: 500px;
    padding: 10px 20px;
    background: #a7d3e8;
    margin: 10px auto;
    padding: 20px;
    background: #a7d3e8;
    border-radius: 8px;
   font-family: 'Rye', cursive;    
}
.form-style-5 fieldset{
    border: none;
}
.form-style-5 label {
    display: block;
    margin-bottom: 8px;
}
.form-style-5 input[type="text"],
.form-style-5 textarea,
.form-style-5 select {
    font-family: 'Rye', cursive;
    background: rgba(255,255,255,.1);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    margin: 0;
    outline: 0;
    padding: 7px;
    width: 100%;
    box-sizing: border-box; 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; 
    background-color: #e8eeef;
    color:#e6ffff;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
    
}
.form-style-5 input[type="text"]:focus,
.form-style-5 textarea:focus,
.form-style-5 select:focus{
    background: rgb(138, 151, 160, 0.5);
}
.form-style-5 input[type="submit"],


 
.button {
  position: relative;
    display: block;
    padding: 19px 30px 18px 39px;
    color: #798caa
    .button:hover span:after {
    opacity: 1;
    right: 0;
  
}
.button:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5cbf2a), color-stop(1, #00fcb5));
  background:-moz-linear-gradient(top, #5cbf2a 5%, #00fcb5 100%);
  background:-webkit-linear-gradient(top, #5cbf2a 5%, #00fcb5 100%);
  background:-o-linear-gradient(top, #5cbf2a 5%, #00fcb5 100%);
  background:-ms-linear-gradient(top, #5cbf2a 5%, #00fcb5 100%);
  background:linear-gradient(to bottom, #5cbf2a 5%, #00fcb5 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cbf2a', endColorstr='#00fcb5',GradientType=0);
  background-color:#5cbf2a;
}
.button:active {
  position:relative;
  top:1px;
}
      margin: 0 auto;
    background: #1abc9c;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    width: 70%;
    border: 1px solid #16a085;
    border-width: 1px 1px 3px;
    margin-bottom: 10px;}

.form-style-5 input[type="button"]
{
    position: relative;
    display: block;
    padding: 19px 39px 18px 39px;
    color: #FFF;
    margin: 0 auto;
    background: #1abc9c;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    width: 100%;
    border: 1px solid #16a085;
    border-width: 1px 1px 3px;
    margin-bottom: 10px;
    font-family: 'Rye', cursive;

}
.form-style-5 input[type="submit"]:hover,
.form-style-5 input[type="button"]:hover    
{
    background: #109177;
}
#archives{
    background: #84a5ed;
    padding: 10px 20px;
    border-radius: 8px;}

#overlay.currently-loading img { 
    width: 100%;
    height: 100%;
}